// /* this file will be extracted to main dist folder and is imported in index.html */
// /* This file is for setting global styles  */
// @import 'variables';

// nav {
//   margin-top: 16px;
// }

// nav a {
//   background-color: $nav-button-color;
//   color: white;
//   padding: 8px 16px;
//   margin: 8px;
//   vertical-align: middle;
//   line-height: 1.25;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 4px;
// }

.noMarginBm {
  margin-bottom: 0px;
}
.main-header .sidebar-toggle {
  text-decoration: none;
}
.skin-blue .main-header .logo {
  background-color: #2c404c;
}
.skin-blue .main-header .logo:hover {
    background-color: #2c404c;
}

@media (max-width: 767px) {
  .main-header .logo {
      width: 100%;
      float: none;
      display: none;
  }
  .main-sidebar, .left-side {
      padding-top: 50px;
      margin-left: 0px;
  }
  // .sidebar-open .main-sidebar {
  //     margin-top: -50px;
  // }
  // .main-sidebar {
  //   -webkit-transform: translate(0, 0);
  //   -ms-transform: translate(0, 0);
  //   -o-transform: translate(0, 0);
  //   transform: translate(0, 0);
  // }
  // .sidebar-open .main-header {
  //   -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  //   -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  //   -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  //   transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  //   margin-left: 230px;
  // }
}

