<div style="position: relative;">
  <div class="headerline" style="position:relative">
    <span class="tide">Tide</span>
    <span class="doc"></span>
    <span class="sunrise-set">Sunrise & Sunset</span>
  </div>
  <div id="sun"><img src="../assets/img/sun.png" style="width:100%;height:100%" alt=""></div>
  <div id="tide"></div>
  <div id="top" class="demowindow">
    <p class="title">2.9<span class="title">m</span></p>
    <p class="subtitle">7:05<span class="subtitle"> am</span></p>
  </div>
  <div id="bottom" class="demowindow">
    <p class="title">0.7<span class="title">m</span></p>
    <p class="subtitle">5:00<span class="subtitle"> pm</span></p>
  </div>
  <div class="tide-sun-footer">
    <div id="sunfrom">7:05 am</div>
    <div id="sunto">11:00 am</div>
  </div>
  <div id="line"></div>
  <div id="cursor" class="triangle-up"></div>
</div>
