<div style="position: relative;">
  <div class="headerline" style="position:relative">
    <span class="tide">Tide</span>
    <span class="doc"></span>
    <span class="sunrise-set">Sunrise & Sunset</span>
  </div>
  <div id="sun"><img src="../assets/img/sun.png" style="width:100%;height:100%" alt=""></div>
  <div id="tide"></div>
  <div id="top" class="demowindow">
    <p class="title">{{maxMin.max?.meter}}<span class="title">{{maxMin.max?.meterUnit}}</span></p>
    <p class="subtitle">{{maxMin.max?.time[0]}}:{{maxMin.max?.time[1]}}<span class="subtitle"> {{maxMin.max?.timeUnit}}</span></p>
  </div>
  <div id="bottom" class="demowindow">
    <p class="title">{{maxMin.min?.meter}}<span class="title">{{maxMin.min?.meterUnit}}</span></p>
    <p class="subtitle">{{maxMin.min?.time[0]}}:{{maxMin.min?.time[1]}}<span class="subtitle"> {{maxMin.min?.timeUnit}}</span></p>
  </div>
  <div class="tide-sun-footer">
    <div id="sunfrom">7:00 am</div>
    <div id="sunto">11:00 am</div>
  </div>
  <div id="line"></div>
  <div id="cursor" class="triangle-up"></div>
</div>
