<div class="row root">
  <div class="col-lg-7 col-md-12 weather-status">
    <div class="weather-img icon iconfont icon-cloudy2 col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
    <div class="weather-texts col-lg-7 col-md-7 col-sm-7 col-sm-7">
      <div class="status">Cloudy</div>
      <div>
        <a href="javascript:void(0);">
          <i class="icon iconfont icon-21pingjunqiwen flag"></i>
          <span >29.2°C</span>
        </a>
        <a href="javascript:void(0);" class="space">
          <i class="icon iconfont icon-water flag"></i>
          <span >73%</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-5 ls-fn">
    <div class="col-lg-6 fn-container border-right-up ">
      <div class="title">PSI</div>
      <span class="value block">23</span>
      <div class="sub-value">Good</div>
    </div>
    <div class="col-lg-6 fn-container border-bottom-right">
      <div class="title">RAIN</div>
      <span class="value block">0</span>
      <div class="sub-value">mm</div>
    </div>
    <div class="col-lg-6 fn-container border-top-left">
      <div class="title">DENGUE</div>
      <span class="circle"></span>
    </div>
    <div class="col-lg-6 fn-container border-left-down">
      <i class="icon iconfont icon-add flag"></i>
      <div class="title">Add</div>
    </div>
  </div>
</div>

<div class="row ss-fn">
    <div class="col-md-3 col-sm-3 col-xs-3 fn-container border-right-up">
      <div class="title">PSI</div>
      <span class="value block radius">23</span>
      <div class="sub-value">Good</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 fn-container border-right-up">
      <div class="title">RAIN</div>
      <span class="value block">0</span>
      <div class="sub-value">mm</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 fn-container border-right-up">
      <div class="title">DENGUE</div>
      <span class="circle"></span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 fn-container">
      <i class="icon iconfont icon-add flag"></i>
      <div class="title color-black">Add</div>
    </div>
</div>

<!--tide sun-->
<div style="position: relative;">
  <div class="headerline" style="position:relative">
    <span class="tide">Tide</span>
    <span class="doc"></span>
    <span class="sunrise-set">Sunrise & Sunset</span>
  </div>
  <div id="sun"><img src="../assets/img/sun.png" style="width:100%;height:100%" alt=""></div>
  <div id="tide"></div>
  <div id="top" class="demowindow">
    <p class="title">2.9<span class="title">m</span></p>
    <p class="subtitle">7:05<span class="subtitle"> am</span></p>
  </div>
  <div id="bottom" class="demowindow">
    <p class="title">0.7<span class="title">m</span></p>
    <p class="subtitle">5:00<span class="subtitle"> pm</span></p>
  </div>
  <div class="tide-sun-footer">
    <div id="sunfrom">7:05 am</div>
    <div id="sunto">11:00 am</div>
  </div>
  <div id="line"></div>
  <div id="cursor" class="triangle-up"></div>
</div>

